*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

header{
    padding: 1rem;
    width: 100%;
    min-width:  350px;
    background-color: #3fabe0;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
header a{
    color: white;
    text-decoration: none;
}
header nav ul{
    list-style: none;

    display: flex;
    gap: 1rem;
}

@media(min-width: 1024px){
    header{
        justify-content: space-between;
        flex-direction: row;
    }
}
