*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

header{
    padding: 1rem;
    width: 100%;
    min-width:  350px;
    background-color: #3fabe0;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
header a{
    color: white;
    text-decoration: none;
}
header nav ul{
    list-style: none;

    display: flex;
    gap: 1rem;
}

.page{
    width: 80%;
    max-width: 750px;
    min-width: 350px;
    margin: 2rem auto;
}

.main-page form{
    margin: 0 auto;
    width: 100%;
    min-width: 250px;
    max-width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.main-page form div{
    width: 100%;
}
.main-page form input{
    width: 100%;
    border-bottom-left-radius: 7px;
    
    border: 1px solid gray;
    border-right: none;
    padding: .3rem;
}
.main-page form button{
    padding: 0 .5rem;
    border-left: none;
    border: none;
    border-top-right-radius: 8px;
    color: white;
    background-color: #423fe0;
    font-size: 1rem;
}

.main-page form div{
    display: flex;
}

.main-page form label{
    width: 100%;
    text-align: left;

    position: relative;
    top: .8rem;
}
@media(min-width: 1024px){
    header{
        justify-content: space-between;
        flex-direction: row;
    }
}
