*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

header{
    padding: 1rem;
    width: 100%;
    min-width:  350px;
    background-color: #3fabe0;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
header a{
    color: white;
    text-decoration: none;
}
header nav ul{
    list-style: none;

    display: flex;
    gap: 1rem;
}

.page{
    width: 80%;
    max-width: 750px;
    min-width: 350px;
    margin: 2rem auto;
}
.main-page{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.main-page h2{
    text-align: center;
}
.main-page form{
    margin: 0 auto;
    width: 100%;
    min-width: 250px;
    max-width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.main-page form div{
    width: 100%;
}
.main-page form input{
    width: 100%;
    border-bottom-left-radius: 7px;
    
    border: 1px solid gray;
    border-right: none;
    padding: .3rem;
}
.main-page form button{
    padding: 0 .5rem;
    border-left: none;
    border: none;
    border-top-right-radius: 8px;
    color: white;
    background-color: #423fe0;
    font-size: 1rem;
}
.main-page form div{
    display: flex;
}
.main-page form label{
    width: 100%;
    text-align: left;

    position: relative;
    top: .8rem;
}
.main-page .photos{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.main-page .photos .photo{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}
.main-page .photos .photo img{
    width: 100%;
    height: 100%;
}
.main-page .photos .photo button{
    cursor: pointer;
    padding: .2rem .5rem;
    border: none;
    color: white;
    background-color: red;
    border-radius: 4px;
    font-size: 1rem;

    transition: .3s;
}
.photo button:hover{
    opacity: .8;
}
.photo button:active{
    opacity: .5;
}
.photo .add-favourite{
    display: none;
    padding: .5rem;

    position: absolute;
}
.photo .add-favourite h3{
    color: white;
    text-align: center;
}
.photo .add-favourite div input{
    width: 100%;

    padding: .3rem;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}
.photo .add-favourite div button{
    background-color: green !important;
}
.photo .add-favourite.visible{
    width: 100%; 
    height: 100%;    
    background-color: #3faae0b7;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.photo .add-favourite.visible div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.main-page .photos .photo .information{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-photo form{
    margin: 0 auto;
    width: 100%;
    min-width: 250px;
    max-width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.add-photo label{
    width: 100%;
    text-align: left;

    position: relative;
    top: .5rem;
}

.add-photo form input{
    width: 100%;
    
    border-radius: 5px;
    border: 1px solid gray;
    padding: .3rem;
}
.add-photo form button{
    cursor: pointer;
    padding: .3rem .6rem;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #423fe0;
    font-size: 1rem;

    transition: .3s;
}
.add-photo form button:hover{
    opacity: .8;
}
.add-photo form button:active{
    opacity: .5;
}
.add-photo form input.error-input{
    border: 1px solid red;
    transition: .2s;
}
.add-photo form label.label-error{
    color: red;
    transition: .2s;
}

.about-page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.about-page p{
    line-height: 1.5rem;
    letter-spacing: 2px;
}
.favourite-page h2{
    text-align: center;
}
.favourite-page .photos{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.favourite-page .favourite-photo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}
.favourite-photo img{
    width: 100%;
    height: 100%;
}
@media(min-width: 1024px){
    header{
        justify-content: space-between;
        flex-direction: row;
    }
}
